---
import Meta from './meta.astro';
import { siteConfig } from '@/config';
import  SpeedInsights  from "@vercel/speed-insights/astro";
const { title, description, tags, author } = Astro.props;
---
<head>
  <Meta description={description} tags={tags} author={author} />

  <!-- icon -->
  <link rel="icon" type="image/png" href="/icon-192x192.png">
  
  <!-- appleデバイスのicon -->
  <link rel="apple-touch-icon" type="image/png" type="image/png" href="/apple-touch-icon-180x180.png">

  <title>{title ? title || '|' || siteConfig.name : siteConfig.name}</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+JP&family=Noto+Sans+SC&display=swap" rel="stylesheet">


  <SpeedInsights />
</head>