---
import '@/styles/globals.css';
import Head from '@/components/layout/head/index.astro';
import Header from '@/components/layout/header/index.astro';
import Footer from '@/components/layout/footer/index.astro';
const lang = Astro.currentLocale;
---
<!DOCTYPE html>
<html lang={lang}>
<Head />
<body class="flex flex-col min-h-screen w-full antialiased">
  <Header />
  <main class="container flex-1">
    <slot />
  </main>
  <Footer />
</body>
</html>