---
import '@/styles/globals.css';
import Head from '@/components/layout/head/index.astro';
const lang = Astro.currentLocale;
---
<!DOCTYPE html>
<html lang={lang}>
<Head />
<body class="min-h-screen antialiased">
  <slot />
</body>
</html>